@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.campaign {
  display: none;

  @include respond-to('tablet') {
    display: block;
    padding: $space-xl $container-padding $space-xl * 1;
    text-align: center;
  }

  &__inner {
    max-width: 640px;
    margin-inline: auto;
    font-size: 0.75rem;
  }
}