$font-body: 'Inter', sans-serif;
$font-heading: 'Marcellus', serif;

$text-color: #000000;
$background-color: #ffffff;
$color-primary: #aa131a;
$color-grey: #f4f4f4;
$color-overlay: rgba(0, 0, 0, 0.6);
$color-intro-bg: #fdf6f4;
$color-showcase-bg: #521611;
$color-error: #9e0f16;

$container-width: 1200px;
$container-padding: 20px;

$space-s: 0.5rem;
$space-m: 1rem;
$space-l: 2rem;
$space-xl: 4rem;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;